<%layout('layouts/boilerplate')-%>
<nav>
  <div class="row my-4">
    <div class="col-lg-3 my-4 mx-3">
      <h2 class="multicolortext">DoubtAway..</h2>
    </div>
    <div class="col-lg-4 my-4 community">
      <span><a href="/">Home</a></span>
      <span><a href="/problem">Problems</a></span>
      <span><a href="/newproblem">Ask a question</a></span>
    </div>
    <div class="col-lg-4 my-4 login">

      <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" style="background-color: transparent; border: 1px solid white;" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="true">
              <span><i class="fas fa-user icon"></i></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-transparent" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="/profile">Profile</a></li>
            <%if(!currentUser){%>
              <li><a class="dropdown-item" href="/">Login</a></li>
            <%}else{%>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            <%}%>
          </ul>
        </div>
    </div>
  </div>
</nav>

<div class="row container-fluid" style="overflow-y: hidden;">
    <div class="col-lg-4 md-2 sm-2 xs-1 mx-auto" style="border: 1px solid white; padding: 10px; margin-top: 40px;" >
        <%- include('../partials/flash')  %> 
        <h1 class="dispaly-6 mb-4" style="text-align: center;">Login</h1>
        <form action="/login" class="validated-form" method="POST"  novalidate>
            <div class="mb-3 d-flex justify-content-center align-item-center">
                <i class="fas fa-user icon"></i>
                <input class="form-control" type="text" name="username" id="username" placeholder="Username">
            </div>
            <div class="mb-3 d-flex justify-content-center align-item-center">
                <i class="fas fa-lock icon"></i>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password">
            </div>
            <button class="btn btn-success btn-sm" style="text-align: center; margin-left: 35px;" type="submit">Login</button>
            <p style="margin-left: 35px; font-size: 1.1rem;">Don't have an Account yet <a href="/signup">Click here </a> </p>
        </form>
    </div>
</div>