<%layout('layouts/boilerplate')-%>

<div class="row container-fluid" style="overflow-y: hidden;">
    <div class="col-lg-4 md-2 sm-2 xs-1 mx-auto" style="border: 1px solid white; padding: 20px; margin-top: 140px;">
        <%- include('../partials/flash')  %> 
        <h1 class="dispaly-6" style="text-align: center;">Sign Up</h1>
        <form action="/register" class="validated-form" method="POST"  novalidate>
            <div class="mb-3 d-flex justify-content-center align-item-center">
                <i class="fas fa-user icon"></i>
                <input class="form-control" type="text" name="username" id="username" placeholder="Username">
            </div>
            <div class="mb-3 d-flex justify-content-center align-item-center">
                <i class="fas fa-envelope icon"></i>
                <input class="form-control" type="email" name="email" id="email" placeholder="Email">
            </div>
            <div class="mb-3 d-flex justify-content-center align-item-center">
                <i class="fas fa-lock icon"></i>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password">
            </div>
            <button class="btn btn-success btn-sm" style="margin-left: 35px;" type="submit">SignUp</button>
        </form>
    </div>
</div>