<%layout('layouts/boilerplate')-%>

<div class="row ">
    
    <div class="col-lg-6 ">
        <p><a href="/problem/<%=prblm._id%>/answer">Problem</a></p>
    </div>

    <div class="col-lg-6 ">
        <p><a href="/problem/<%=prblm._id%>/discuss">Discuss</a></p>
    </div>

</div>

<section>
    <div>
        <h1>
            Discuss Section
        </h1>
    </div>
</section>