<%layout('layouts/boilerplate')-%>
<div class="row">
    <div class="col-lg-4">

    </div>
        

   <div class="col-lg-8">
        <section class="container-fluid">
            <%for(let p of prblm){%>
                <ul>
                    <li>
                        <%=p.topic%>
                    </li>
                    <li>
                        <%=p.level%>
                    </li>
                    <div class="pro">
                        <p><%=p.desc%></p>
                        
                    </div>
                    <li>
                        <button><a href="#">Answer</a></button>
                    </li>
                </ul>
            <%}%>
        </section>

    </div>

</div>
