<%layout('layouts/boilerplate')-%>
<div class="row">
    <div class="col-lg-2 m-4 topic">
        <h2>Topic</h2>
        <hr>
        <ul style="list-style: none;">
            <li>Array</li>
            <li>Array</li>
            <li>Array</li>
            <li>Array</li>
            <li>Array</li>
            <li>Array</li>
            <li>Array</li>
            <li>Array</li>
        </ul>
    </div>
        

   <div class="col-lg-8 m-4">
        <div class="container">
            <%for(let p of prblm){%>
                <ul class="ques">
                    <li>
                        <%=p.topic%>
                    </li>
                    <li>
                        <%=p.level%>
                    </li>
                    <div class="pro">
                        <p><%=p.desc%></p>
                        
                    </div>
                    <li>
                        <button><a href="/problem/<%=p._id%>/answer">Answer</a></button>
                    </li>
                </ul>
            <%}%>
        </section>

    </div>

</div>
