<%layout('layouts/boilerplate')-%>
<div class="row">
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
    </div>
    <div class="col-lg-8">
        <section class="container-fluid">
            <%for(let p of prblm){%>
                <ul>
                    <li>
                        <%=p.topic%>
                    </li>
                    <li>
                        <%=p.level%>
                    </li>
                    <div class="pro">
                        <p><%=p.desc%></p>
                        
                    </div>
                </ul>
            <%}%>
        </section>

    </div>

</div>
