<%layout('layouts/boilerplate')-%>
<nav>
    <div class="row my-4">
      <div class="col-lg-3 my-4 mx-3">
        <h2 class="multicolortext">DoubtAway..</h2>
      </div>
      <div class="col-lg-6 my-4 mx-4 community" style="width: 35%;">
        <span><a href="/">Home</a></span>
        <span><a href="/profile">Profile</a></span>
        <span><a href="/newproblem">Ask a question</a></span>
      </div>
      <div class="col-lg-2 my-4 login" style="margin-left: 150px;">
        <%if(!currentUser){%>
          <span><a href="/login">Login</a></span>
       <%}else{%>
        <span><a href="/logout">Logout</a></span>
       <%}%>
      </div>
    </div>
  </nav>
<section>
    <h1>New Problem</h1>
    <section>
        <form action="/problem" method="post" class="validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="topic">Topic :</label>
                <input class="form-control" type="text" name="topic" id="topic" placeholder="Topic" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="level">level :</label>
                <input class="form-control" type="text" name="level" id="level" placeholder="Level" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="lang">Language :</label>
                <input class="form-control" type="text" name="lang" id="lang" placeholder="Language" required>
            </div>
            <div class="mb-3">
                <h5>Description</h5>
                <label class="form-label" for="statement"></label>
                <textarea class="form-control" name="statement" id="statement" cols="10" rows="8" placeholder="statement"  required></textarea>
                <label class="form-label" for="example">Custom Input:</label>
                <textarea class="form-control" name="example" id="example" cols="5" rows="5"  required></textarea>
            </div>
            <button type="submit" class="btn btn-sm btn-success">Submit</button>
        </form>
    </section>
</section>