<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoubtAway</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body style="overflow-x: hidden;">
    <div class="main">

        <div class="row navbar">
            <div class="col-lg-4 icon">
                <h2 class="logo"><span class="multicolortext">DoubtAway</span></h2>
            </div>
            <div class="col-lg-8 menu">
                <ul>
                    <li><a style="color: white;" href="/">Explore</a></li>
                    <li><a style="color: white;" href="/problem">Problems</a></li>
                    <li><a  style="color: white;"href="/profile">Profile</a></li>
                </ul>
            </div>

        </div>

        <div class="row content">
            <div class="col-lg-8">
                <h1 class="moving">  Give your learning a kickstart <br> with doubtaway.</h1>
                <p style="color: rgb(201, 193, 193); font-size: 1.2rem; line-height: 1.5rem;" >DoubtAway is a knowledge-sharing community where<br> enthusiast programmers put their heads together to crack coding questions. </p>
                  
            <div class="wrapper">
      <h2 style="color: rgb(163, 157, 149);" > Explore  popular problems on  <span></span></h2>
      </div> 
      
                      <button class="cn"><a href="/newproblem">Ask Question</a></button>
                      <button class="cn"><a href="/problem">Answer Doubts</a></button>
            </div>
            
            <%if(!currentUser){%>
                <div class="col-lg-4">
                    <form action="/login" method="POST" >
                        <div class="form">
                             <h2 style="color: pink;"> Login to continue </h2>
                            <input  type="text" name="username" id="username" placeholder="Username">
                            <input type="password" name="password" id="password" placeholder="Password">
                            <button class="btnn" type="submit">Login</button>
        
                            <p style="font-weight: bolder;" class="link">Don't have an account<br>
                            <a href="/signup">Sign up </a> here</a></p>
        
                        </div>
                    </form>
                    
                </div>
            <%}%>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>
