<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE </title>
    <link rel="stylesheet" href="./public/css/home.css">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo"><span>DoubtAway</span></h2>
            </div>

            <div class="menu">
                <ul>
                    <!-- <li><a href="#">Learn</a></li> -->
                    <li><a href="#">Frequently Asked Questions</a></li>
                    <li><a href="#">Free Study Material</a></li>
                    <!-- <li><a href="#">Free Study Material</a></li> -->

                     <!-- <li><a href="#">Start Answering</a></li>  -->
                    <li><a href="#">Contact US </a></li>
                </ul>
            </div>

            <!-- <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div> -->

        </div> 
        <div class="content">
          <h1 class="moving">  Give your learning a kickstart <br> with doubtaway.</h1>
          <p >DoubtAway is a knowledge-sharing community where<br> enthusiast programmers put their heads together to crack coding questions. </p>
            
<!-- <p >  <br>  students and experts put their <br>heads together to crack their toughest doubts .</p> -->
      <div class="wrapper">
<h2 > Explore  popular topics like  <span></span></h2>
<!-- <p class="para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt ut consequuntur, <br>fugit aspernatur reiciendis nemo culpa aliquid quibusdam itaque, <br>illo exercitationem at doloremque inventore odio ipsum <br>obcaecati tenetur labore sequi.</p> -->
<!-- <button class="cn">ll<a href="#">LogIn</a> </button>  -->


</div> 

                <button class="cn"><a href="#">Ask Question</a></button>
                <button class="cn"><a href="#">Answer Doubts</a></button>

                <div class="form">
                    <h2>Login to your Account</h2>
                    <input type="email" name="email" placeholder="Enter Email Here">
                    <input type="password" name="" placeholder="Enter Password Here">
                    <button class="btnn"><a href="#">Login</a></button>

                    <p class="link">Don't have an account<br>
                    <a href="#">Sign up </a> here</a></p>
                    <p class="liw">Log in with</p>

                    <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>

                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>
