/* .pro{
   height: 100px;
   width: 600px;
   flex-wrap: ew;
    border: 2px solid red;
} */


.box{
    display: flex;
    justify-content: space-around;
}
main{
    margin-top: 10px;
}

.ques li{
    list-style: none;
}

.ques{
    border: 2px solid black;
    padding: 10px;
    margin-top: 15px;
}
.head{
    display: inline-block;
    width: 32%;
    text-align: center;
}

.topic{
    border-right: 2px solid black;
}
.topicname{
    padding: 5px;
    margin: 10px;
}

.topicname li{
    border: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.topicname li a{
    text-decoration: none;
    color: black;
}

.shownav{
    border-right: 2px solid gray;
    width: 49%;
    height: 30px;
    text-align: center;
    display: inline-block;
}

.bar{
    /* border: 2px solid white; */
    display: inline-block;
    /* width: 33%; */
}

